<div id="detail" class="container mt-6" *ngIf="product$ | async as product">
    <div class="center">
      <h1 class="display-4">Produit {{ product.title }}</h1>
    </div>
    <div class="product-img">
      <img [src]="product.imgUrl"><br>
    </div>
    <div class="product-price">
      <span>Prix du produit : {{ product.price }}€</span><br>
      <button type="button" class="btn btn-info" (click)="onStore(product)">Ajouter au panier</button>
    </div>
</div>

  <!--<div id="detail">
    <p> Détails </p>
  </div>-->
